@{
	ViewData["Title"] = "NotFound 404";
}
<h2>Trang 404 không tìm thấy</h2>
<img src="https://media.licdn.com/dms/image/v2/C5112AQEw1fXuabCTyQ/article-inline_image-shrink_1500_2232/article-inline_image-shrink_1500_2232/0/1581099611064?e=1750896000&v=beta&t=fblYUKpkCWv7sAgz1kS7_a7oMZlVJxQ-G464m5HC0YM"