@model ProductModel
@{
	ViewData["title"] = "Thêm sản phẩm";
}
<h4>Thêm sản phẩm</h4>
<div class="col-md-9">
	<form asp-action="Create" enctype="multipart/form-data">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label>Tên sản phẩm</label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger" />
		</div>

		<div class="form-group">
			<label>Giá</label>
			<input asp-for="Price" class="form-control" />
			<span asp-validation-for="Price" class="text-danger" />
		</div>

		<div class="form-group">
			<label>Mô tả</label>
			<textarea asp-for="Description" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger" />
		</div>

		<div class="form-group">
			<label>Loại</label>
			<select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
				<option>--Chọn loại sản phẩm </option>
			</select>
			<span asp-validation-for="CategoryId" class="text-danger" />
		</div>

		<div class="form-group">
			<label>Thương hiệu</label>
			<select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands">
				<option>--Chọn thương hiệu sản phẩm </option>
			</select>
			<span asp-validation-for="BrandId" class="text-danger" />
		</div>

		<div class="form-group">
			<label>Hình ảnh</label>
			<input asp-for="ImageUpload" class="form-control-file" />
			<span asp-validation-for="ImageUpload" class="text-danger" />
			<img id="imgpreview" class="pt-2" />
		</div>

		<div class="form-group">
			<button class="btn btn-primary">Tạo</button>
		</div>
	</form>
	<a asp-action="Index">Trở lại Danh sách danh mục</a>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
	<script>
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#imgpreview').attr('src', e.target.result).css({ width: '150px', height: 'auto' });
				};
				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#ImageUpload").change(function () {
			readURL(this);
		});
	</script>

	<script>
		CKEDITOR.replace( 'Description' );
	</script>
}
